<html>
    <head lang="zh_CN">
        <meta charset="utf-8">
        <link rel="stylesheet" href="../static/css/timetable.css">
    </head>
    <script type="text/JavaScript" src="../static/js/timetable.js">
    </script>
    <body>
        <div id="timetable">
            <table border="5">
                <tr>
                    <th>时间段</th>
                    <th>周一</th>
                    <th>周二</th>
                    <th>周三</th>
                    <th>周四</th>
                    <th>周五</th>
                </tr>
                <tr>
                    <th>第一节课 08:00 - 08:40</th>
                    <th>{{user['mon1']}}</th>
                    <th>{{user['tue1']}}</th>
                    <th>{{user['wed1']}}</th>
                    <th>{{user['thu1']}}</th>
                    <th>{{user['fri1']}}</th>
                </tr>
                <tr>
                    <th>第二节课 08:50 - 09:30</th>
                    <th>{{user['mon2']}}</th>
                    <th>{{user['tue2']}}</th>
                    <th>{{user['wed2']}}</th>
                    <th>{{user['thu2']}}</th>
                    <th>{{user['fri2']}}</th>
                </tr>
                <tr>
                    <th>第三节课 09:45 - 10:25</th>
                    <th>{{user['mon3']}}</th>
                    <th>{{user['tue3']}}</th>
                    <th>{{user['wed3']}}</th>
                    <th>{{user['thu3']}}</th>
                    <th>{{user['fri3']}}</th>
                </tr>
                <tr>
                    <th>第四节课 10:35 - 11:15</th>
                    <th>{{user['mon4']}}</th>
                    <th>{{user['tue4']}}</th>
                    <th>{{user['wed4']}}</th>
                    <th>{{user['thu4']}}</th>
                    <th>{{user['fri4']}}</th>
                </tr>
                <tr>
                    <th>第五节课 11:20 - 12:00</th>
                    <th>{{user['mon5']}}</th>
                    <th>{{user['tue5']}}</th>
                    <th>{{user['wed5']}}</th>
                    <th>{{user['thu5']}}</th>
                    <th>{{user['fri5']}}</th>
                </tr>
                <tr>
                    <th>第六节课 12:50 - 13:30</th>
                    <th>{{user['mon6']}}</th>
                    <th>{{user['tue6']}}</th>
                    <th>{{user['wed6']}}</th>
                    <th>{{user['thu6']}}</th>
                    <th>{{user['fri6']}}</th>
                </tr>
                <tr>
                    <th>第七节课 13:40 - 14:20</th>
                    <th>{{user['mon7']}}</th>
                    <th>{{user['tue7']}}</th>
                    <th>{{user['wed7']}}</th>
                    <th>{{user['thu7']}}</th>
                    <th>{{user['fri7']}}</th>
                </tr>
                <tr>
                    <th>第八节课 14:30 - 15:10</th>
                    <th>{{user['mon8']}}</th>
                    <th>{{user['tue8']}}</th>
                    <th>{{user['wed8']}}</th>
                    <th>{{user['thu8']}}</th>
                    <th>{{user['fri8']}}</th>
                </tr>
                <tr>
                    <th>第九节课 15:15 - 15:55</th>
                    <th>{{user['mon9']}}</th>
                    <th>{{user['tue9']}}</th>
                    <th>{{user['wed9']}}</th>
                    <th>{{user['thu9']}}</th>
                    <th>{{user['fri9']}}</th>
                </tr>
                <tr>
                    <th>第十节课 16:10 - 16:50</th>
                    <th>{{user['mon10']}}</th>
                    <th>{{user['tue10']}}</th>
                    <th>{{user['wed10']}}</th>
                    <th>{{user['thu10']}}</th>
                    <th>{{user['fri10']}}</th>
                </tr>
                <tr>
                    <th>第十一节课 16:55 - 17:35</th>
                    <th>{{user['mon11']}}</th>
                    <th>{{user['tue11']}}</th>
                    <th>{{user['wed11']}}</th>
                    <th>{{user['thu11']}}</th>
                    <th>{{user['fri11']}}</th>
                <tr>
                    <th>第十二节课 18:45 - 19:25</th>
                    <th>{{user['mon12']}}</th>
                    <th>{{user['tue12']}}</th>
                    <th>{{user['wed12']}}</th>
                    <th>{{user['thu12']}}</th>
                    <th>{{user['fri12']}}</th>
                </tr>
                <tr>
                    <th>第十三节课 19:30 - 20:10</th>
                    <th>{{user['mon13']}}</th>
                    <th>{{user['tue13']}}</th>
                    <th>{{user['wed13']}}</th>
                    <th>{{user['thu13']}}</th>
                    <th>{{user['fri13']}}</th>
                </tr>
                <tr>
                    <th>第十四节课 20:15 - 20:55</th>
                    <th>{{user['mon14']}}</th>
                    <th>{{user['tue14']}}</th>
                    <th>{{user['wed14']}}</th>
                    <th>{{user['thu14']}}</th>
                    <th>{{user['fri14']}}</th>
                </tr>
                <tr>
                    <th>第十五节课 21:05 - 21:45</th>
                    <th>{{user['mon15']}}</th>
                    <th>{{user['tue15']}}</th>
                    <th>{{user['wed15']}}</th>
                    <th>{{user['thu15']}}</th>
                    <th>{{user['fri15']}}</th>
                </tr>


            </table>



        </div>
        <audio id="mc" src="../static/audio/xiangshou.mp3" controls="controls" autoplay hidden="true" loop="true"></audio>
    </body>
</html>